#Request a Telegram token and paste it here
TELEGRAM_TOKEN="INSERT-YOUR-TELEGRAM-TOKEN-HERE"
#WeatherAPI key goes here; you an change the API you prefer but be sure to check if the code is compatible
WEATHER_API_KEY="INSERT-YOUR-API-KEY-HERE"
#IP of the device where you host your local model
FALLBACK_DEVICE_IP="INSERT-IP-HERE"
#Port of the fallback device
FALLBACK_DEVICE_PORT="INSERT-PORT-NUMBER-HERE"
#Name of the model i.e ollama3
FALLBACK_MODEL="INSERT-NAME-OF-THE-LOCAL-MODEL"